<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToolRackSetup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ToolRackSetup.Properties.Settings>
            <setting name="LockToolPocketSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RuntimeWindowLeft" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="RuntimeWindowTop" serializeAs="String">
                <value>455</value>
            </setting>
            <setting name="RuntimeWindowVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RuntimeWindowWidth" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="RuntimeWindowHeight" serializeAs="String">
                <value>85</value>
            </setting>
        </ToolRackSetup.Properties.Settings>
    </userSettings>
</configuration>